<div class="row">
    <div class="col-2">
      <br><br><br>

    </div>

    <div class="col-8">
        <br><br><br>
        <div class="card fod">
            <div class="card-header TituloPanel modal-head">
              Administracion de areas
            </div>
            <div class="card-body">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Descripcion</th>
                      <th scope="col">M2</th>
                      <th scope="col">Valor</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>El prado</td>
                      <td>452</td>
                      <td>12000000</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>La candelaria</td>
                      <td>5600</td>
                      <td>658000</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Villa olimpica</td>
                      <td>t4100</td>
                      <td>785400</td>
                    </tr>
                    </tbody>
                  </table>
                  <br><br>
            </div>
            <div class="card-footer text-muted ">

              </div>
          </div>


    </div>
    <div class="col-2">
        <br><br><br>

    </div>

  </div>
