<div class="row">
    <div class="col-2">
      <br><br><br>

    </div>

    <div class="col-8">
        <br><br><br>
        <div class="card fod">
            <div class="card-header modal-head TituloPanel">
              Administracion de editoriales
            </div>
            <div class="card-body">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nombre editorial</th>
                      <th scope="col">Valor</th>
                      <th scope="col">Descuento</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Sociedades unidas</td>
                      <td>4500</td>
                      <td>0.2%</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>El frasco</td>
                      <td>4300</td>
                      <td>0.3%</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>El paso</td>
                      <td>400 Bird</td>
                      <td>0.9%</td>
                    </tr>
                    </tbody>
                  </table>
                  <br><br>
            </div>
            <div class="card-footer text-muted">

              </div>
          </div>


    </div>
    <div class="col-2">
        <br><br><br>

    </div>

  </div>
